<h2>Productos agregados:</h2>
<div id="div"></div>
<h3>Agregar un producto:</h3>
<form id="formulario">
    Title:<input type="text" name="prodTitle" id="prodTitle">
    Description:<input type="text" name="prodDesc" id="prodDesc">
    Price:<input type="text" name="prodPrice" id="prodPrice">
    Thumbnails:<input type="text" name="prodThumb" id="prodThumb">
    Stock:<input type="text" name="prodStock" id="prodStock">
    Category:<input type="text" name="prodCategory" id="prodCategory">
    Code:<input type="text" name="prodCode" id="prodCode">
    <input type="submit" value="Enviar" id="input">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>